
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/bs337/css/bootstrap.min.css" rel="stylesheet">
    <link href="/xed/css/bootstrap-editable.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
      </div>
    </nav>



    <div class="container">
        <div class="alert alert-success alert-dismissable fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p>Well done! You have registered successfully. </p>
          <p>Save your credentials: login: <strong>{{ app.user.username }}</strong>, password: <strong>{{ plainPassword }}</strong></p>
        </div>
        <h1>Fill up your profile</h1>

        <table class="table">
          <tr>
            <td>Gender</td>
            <td><a href="#" id="gender" data-title="Select gender"></a></td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td><a href="#" id="birthday" data-title="Select date">{{ app.user.profile.birthday | date('Y.m.d') }}</a></td>
          </tr>
          <tr>
            <td>Symptoms active</td>
            <td><a href="#" id="activeSymptoms" data-title="Enter active symptoms"></a></td>
          </tr>
          <tr>
            <td>Symptoms past</td>
            <td><a href="#" id="pastSymptoms" data-title="Enter symptoms past"></a></td>
          </tr>
          <tr>
            <td>Diagnosis Possible</td>
            <td><a href="#" id="possibleDiagnosis" data-title="Enter diagnosis Possible"></a></td>
          </tr>
          <tr>
            <td>Diagnosis Active</td>
            <td><a href="#" id="activeDiagnosis" data-title="Enter diagnosis Active"></a></td>
          </tr>
          <tr>
            <td>Diagnosis Past</td>
            <td><a href="#" id="pastDiagnosis" data-title="Enter diagnosis Past"></a></td>
          </tr>
          <tr>
            <td>Medicaments Active</td>
            <td><a href="#" id="activeMedicaments" data-title="Enter medicaments Active"></a></td>
          </tr>
          <tr>
            <td>Medicaments Past</td>
            <td><a href="#" id="pastMedicaments" data-title="Enter medicaments Past"></a></td>
          </tr>
          <tr>
            <td>Hospitals</td>
            <td><a href="#" id="hospitals" data-title="Enter hospitals"></a></td>
          </tr>
          <tr>
            <td>Doctors</td>
            <td><a href="#" id="doctors" data-title="Enter doctors"></a></td>
          </tr>
          <tr>
            <td>Procedures</td>
            <td><a href="#" id="procedures" data-title="Enter procedures"></a></td>
          </tr>
          <tr>
            <td>Alternative medicine</td>
            <td><a href="#" id="alternativeMedicine" data-title="Enter alternative medicine"></a></td>
          </tr>
          <tr>
            <td>Supplement</td>
            <td><a href="#" id="supplement" data-title="Enter supplement"></a></td>
          </tr>
        </table>
        <a class="btn btn-primary" href="{{ path('profile') }}">Done</a>

    </div> <!-- /container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bs337/js/bootstrap.min.js"></script>
    <script src="/xed/js/bootstrap-editable.js"></script>
    <script src="/xed/js/moment.min.js"></script>
    <script>
      $.fn.editable.defaults.mode = 'inline';
      $(document).ready(function() {
        $('#newLinkModal').on('show.bs.modal', function (event) {
          $("#modalBodySplash").show();
          $("#modalBodyContent").hide();
          $.ajax("{{ path('createlink') }}").done(function(msg){
            $("#modalBodyContent>code").text(msg.link);
            $("#modalBodySplash").hide();
            $("#modalBodyContent").show();
          });
        });
        //---
        $('#gender').editable({
            type: 'select',
            pk: '{{ app.user.profile.id }}',
            url: "{{ path('xed') }}",
            value: {{app.user.profile.gender}},    
            source: [
                  {value: 1, text: 'unknown'},
                  {value: 2, text: 'female'},
                  {value: 3, text: 'male'}
               ]
        });
        $('#birthday').editable({
            type: 'combodate',
            pk: '{{ app.user.profile.id }}',
            url: "{{ path('xed') }}",
            format: 'YYYY-MM-DD',
            template: 'D / MMM / YYYY'
        });

        //--------------
        var txt = { type: 'text', pk: '{{ app.user.profile.id }}', url: "{{ path('xed') }}" };
        $('#activeSymptoms').editable(txt);
        $('#pastSymptoms').editable(txt);
        $('#possibleDiagnosis').editable(txt);
        $('#activeDiagnosis').editable(txt);
        $('#pastDiagnosis').editable(txt);
        $('#activeMedicaments').editable(txt);
        $('#pastMedicaments').editable(txt);
        $('#hospitals').editable(txt);
        $('#doctors').editable(txt);
        $('#procedures').editable(txt);
        $('#alternativeMedicine').editable(txt);
        $('#supplement').editable(txt);
      });
    </script>
  </body>
</html>
